$color-primary-light: #c1b0f3;
$color-primary-darker: #7650dc;

$color-secondary-light: #f9eee1;
$color-secondary-darker: #ffcb6b;

$color-white: #ffffff;
$color-black: #121212;

$bp-big: 68.75em; //1100px
$bp-medium: 46.875em; //750px
$bp-small: 23.4375em; //375px